<div class="row">
    <h2 class="handwirteing border-bottom">About Us</h><br>
</div>

<div class="row justify-content-center mb-3">
    
    <p class="text-center aboutUs mb-1">
        MB team
    </p>
    <p class="text-center mt-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec molestie urna. Quisque a est sapien. Morbi in accumsan enim. Cras scelerisque turpis nisl, at luctus neque eleifend non. Donec et tellus a arcu cursus finibus ac et lectus. 
    </p>
    
</div>