<!-- form used to edit data in user panel -->
{{ form_start(form) }}
              
{{ form_row(form) }}

<div class="">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default btn-sm ml-3">Save</button>
    </div>
</div>
{{ form_end(form) }}