{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
<div class="row mt-5 mb-5">
	<div class="col-3">
		{# nawigacja #}
		{% include 'user/panel/navigation.html.twig' %}
	</div>
	<div class="col-9 border-left border-dark">
		{# content #}
		<h2 class="handwirteing ">Change password</h2><br>

		{{ render(path('fos_user_change_password')) }}
	</div>
</div>
{% endblock %}
