{% extends 'base.html.twig' %}

{% block title %}Create Article{% endblock %}

{% block body %}

<h2 class="article-title"> Create new article </h2>

{% include 'forms/createPostForm.html.twig' %}

{% endblock %}